    <div class="app-container">
        <div class="position-relative">
          <app-nav-bar
            [isSidebarCollapsed]="isSidebarCollapsed"
            (sidebarToggle)="onSidebarToggle()"
          >
          </app-nav-bar>
          <button
            class="sidebar-toggle-btn"
            [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
            (click)="onSidebarToggle()"
          >
            <i
              [class]="
                isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
              "
            ></i>
          </button>
        </div>
      
        <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
         <router-outlet></router-outlet>
        </main>
      </div>